#Nom du projet
PROJECT_NAME=billetterie

# Utilisateur et groupe ayant les droits en écriture sur les volumes montés
# A adapter à l'id de l'user sur notre machine hôte
UID=1000
GID=1000

# Ports de la machine hôte publiés pour les différents services
HOST_PORT_API=5001
HOST_PORT_DB=5002
HOST_PORT_ADMINER=5003

# Database Credentials
DATABASE_NAME=ticketing
DATABASE_USER=user
DATABASE_PASSWORD=password